@model FoodApp.Areas.Item.Models.Item

@{
    Layout = "_Layout";
}

<table class="table table-bordered">
    <tr>
        <td class="label">ItemName:</td>
        <td>@Model.ItemName</td>
    </tr>
    <tr>
        <td class="label">ItemDescription:</td>
        <td>@Model.ItemDescription</td>
    </tr>
    <tr>
        <td class="label">ItemPrice:</td>
        <td>@Model.ItemPrice</td>
    </tr>
    <tr>
        <td class="label">RestaurantName:</td>
        <td>@Model.RestaurantName</td>
    </tr>
    <tr>
        <td class="label">CategoryName:</td>
        <td>@Model.CategoryName</td>
    </tr>
    <tr>
        <td class="label">RestaurantAddress:</td>
        <td>@Model.RestaurantAddress</td>
    </tr>
</table>

<div class="btn btn-outline-primary">
    <a asp-action="Index" style="color: blue;">Back to List</a>
</div>
